.isk {
    border-radius: 25px;
    border: 1px solid #0000ff;
    padding: 20px;
    width: 90%;
    height: auto;
    margin-top: 3%;
 
}



.sji{
    border-radius: 25px;
    border: 1px solid #0000ff;
    padding: 20px;
    width: 90%;
    height: auto;
    margin-top: 3%;

}
