a {
    text-decoration: none;

}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    display: block;
    visibility: hidden;

    clear: both;
}



.readers-list * {
    margin: 0;
    padding: 0;
}

.readers-list li {
    position: relative;
    float: left;
    margin-top: 20px !important;
    padding: 0 10px;

}

.readers-list li a {
    display: block;
    border: 1px solid #0000ff;
    border-left: 3px solid #0000ff;
    border-radius: 7px;
    padding-left: 15px;
    transition: all .3s;
    color: white;

}

.readers-list li:nth-of-type(6n+1) a {
    border-left-color: #0000ff;
}


.readers-list li a div {
    padding: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0000ff;
}

.readers-list li a div:first-child {
    border-bottom: 1px dashed #0000ff;
    font-size: 1.3em;
    color: #0000ff;
}

.readers-list li a:hover {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 0, 0, 0.3);
}

.link-title {
    position: relative;
    margin: 20px;

    padding: 0 30px 0 25px;
    height: 45px;
    line-height: 45px;
    border-radius: 35px 35px;
    background: #0000ff;
    color: #919191;
    font-family: "华文楷体";
    font-size: 20px;
}

@media(min-width:768px) {
    .readers-list li {
        width: 100%;
    }
}

@media(max-width:767px) {
    .readers-list li {
        width: 100%;
    }
}

.page-common ul li,
.page-common ol li {
    margin-bottom: 12px;
}

.page-friends ul {
    padding: 0;
    margin: 0;
}




