* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentbox {
    width: 350px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: inline-block;
    box-shadow: 5px 5px 10px 0px lightgray;
    border-radius: 10px;
    transition: 0.3s;
}

.contentbox h2 {
    color: black;
    margin: 20px;
}

.contentbox p {
    color: black;
    margin: 20px;
}

.contentbox h2::after {
    content: '';
    background: lightseagreen;
    width: 80px;
    height: 4px;
    position: absolute;
    left: 5%;
    bottom: 140px;
}

.contentbox:hover {
    scale: 0.97;
    box-shadow: none;
} 